.footer {
    margin-top: 1rem;
    padding: 2rem;
    display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
    background-color: black;
}

.parag {
    font-size: .6rem;
    line-height: 1.2rem;
    letter-spacing: 1px;
    font-weight: 200;
    text-align: center;
}