html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #050713;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  color: white;
}

* {
  box-sizing: border-box;
}

section {     
  padding: 5rem;
}

@media only screen and (max-width: 992px) {
  section {
    padding: 1.8rem;
  }
}

@media only screen and (max-width: 576px) {
  section {
    padding: 1.1rem;
  }
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
