@import './variables.module.scss';
@import './fonts.module.scss';



.main {

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 800px;

    background-image: url('../public/images/interface/main_original.jpeg');
    background-position: 100% 0%;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: black;

    
    @media only screen and (max-width: 992px) {
        background-image: url('../public/images/interface/original.jpeg');
        background-position: top;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        
        height: 780px;
        padding: 1.8rem;
    }
    @media only screen and (max-width: 768px) {
        height: 580px;
    }

}


.hero {
    width: 50%;
    display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    @media only screen and (max-width: 992px) {
        width: 80%;
    }
    @media only screen and (max-width: 768px) {
        width: 100%;
    }

}


.title {
    font-size: 1.8rem;
    font-weight: 600;
    text-align: center;

    @media only screen and (max-width: 756px) {
        font-size: 1.3rem;
    }
}

.logo {
    width: 320px;
    height: auto;

    @media only screen and (max-width: 756px) {
        width: 180px;
    }
}


.register {
    display: grid;
    place-content: center;
    width: 100%;
    min-height: 68px;
    font-size: 1.2rem;
    font-weight: 300;
    color: white;
    cursor: pointer;

    border: none;
    border-radius: 4px;
    background-color: $register;
    transition: all .3s;
    
    &:hover {
        background-color: $registerhover;
        transition: all .3s;
    }

    @media only screen and (max-width: 768px) {
        font-size: 1rem;
        min-height: 50px;
    }
}

.devices {
    padding: 6rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    @media only screen and (max-width: 992px) {
        padding: 1.8rem;
    }

    @media only screen and (max-width: 768px) {
        flex-flow: row wrap;
    }
}


.content {
    width: 450px;
}

.watch {
    width: auto;
    font-family: 'Inter';
    font-size: 2.3rem;
    font-weight: 700;
    text-align: left;

    @media only screen and (max-width: 992px) {
        font-size: 1.5rem;
        text-align: center;
    }
}

.enjoy {
    width: auto;
    font-family: 'Inter';
    font-size: 1rem;
    font-weight: 200;
    text-align: left;
    line-height: 2rem;
    letter-spacing: .1em;

    @media only screen and (max-width: 992px) {
        font-size: .9rem;
        text-align: center;
    }
}

.platform_title {
    margin-bottom: 1.2rem;
    font-size: 2.2rem;
    font-weight: 800;
    text-align: center;

    @media only screen and (max-width: 768px) {
        font-size: 1.6rem;
    }
}

.all_platforms {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-start;

    @media only screen and (max-width: 768px) {
        flex-flow: row wrap;
    }
}
.platforms {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-start;
}

.platform {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // border: solid 2px red;

    h3 {
        font-family: 'Inter';
        font-size: 1.6rem;
        font-weight: 700;
        text-align: center;

        @media only screen and (max-width: 992px) {
            font-size: 1.3rem;
        }
    }
    p {
        font-family: 'Inter';
        font-size: 1.05rem;
        font-weight: 200;
        text-align: center;
        line-height: 1.8rem;
    }
}

.expand {
    height: auto;
    margin: 1rem;
    padding: 1rem;
    background-color: rgb(30, 30, 30);
    transition: height .3s ease;
}

.block {
    padding-left: 1rem;
    display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    font-family: 'Inter';
    font-size: 1.3rem;
    color: white;
    transition: height .3s ease;

    @media only screen and (max-width: 768px) {
        font-size: 1rem;
    }

    button {
        cursor: pointer;
        border: none;
        background: none;
        font-family: 'Inter';
        font-size: 2.3rem;
        color: white;
    }
}

.expanded {
    visibility: visible;
    opacity: 1;
    padding-left: 1rem;
    display: block;
    font-family: 'Inter';
    line-height: 2.2rem;
    color: rgb(255, 255, 255);
    font-weight: 200;
    transition: all .2s ease-in-out;
    transition-property: line-height, opacity;
}

.contracted {
    visibility: hidden;
    line-height: 0rem;
    opacity: 0;
    color: rgb(0, 0, 0);
    transition: all .2s ease-in-out;
    transition-property: line-height, opacity;
}
