@import './variables.module.scss';

.main {
    display: grid;
    place-content: center;

    background-image: url('../public/images/interface/original.jpeg');
    background-position: 100% 100%;
    background-size: contain;
    background-repeat: no-repeat;

    @media only screen and (max-width: 900px) {
        background-size: fit-content;
        background-position: top;
    }
}

.fade {
    width: 100vw;
    display: flex;
    flex-flow: row-reverse wrap;
    justify-content: space-between;
    align-items: center;

    min-height: 540px;

    // border: solid 4px red;
    // background-image: linear-gradient(to right, rgba(0, 0, 0, 1),rgba(0, 0, 0, 1),rgba(0, 0, 0, 1),rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.1),rgba(255,0,0,0));
    background:linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 43%, rgba(0,0,0,0) 50%);


    @media only screen and (max-width: 1080px) {
        background: none;
        justify-content: center;
    }
}

.logbar {
    padding: 1.4rem;
    display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    height: 45px;
    position: fixed;
    left: 0;
    right: 0
}

.login {
    margin-top: 6px;
    padding: .7rem 1.5rem;
    font-size: 1rem;
    color: white;
    border: solid 1px white;
    background: black;
    transition: all .2s;
    cursor: pointer;
    
    &:hover {
        color: black;
        border: solid 1px black;
        background: white;
        transition: all .2s;
    }
}

.hero {
    display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    margin: 2rem;
}

._blank {
    margin: 4rem;
    width: 400px;
    height: 150px;
}

.title {
    font-size: 1.6rem;
    font-weight: 600;
    text-align: center;
}

.logo {
    width: 300px;
    height: auto;

    @media only screen and (max-width: 756px) {
        width: 200px;
    }
}


.register {
    display: grid;
    place-content: center;
    width: 100%;
    height: 60px;
    font-size: 1.4rem;
    font-weight: 300;
    color: white;
    cursor: pointer;

    border: none;
    background-color: $register;
    transition: all .3s;
    
    &:hover {
        background-color: $registerhover;
        transition: all .3s;
    }
}