$active_button: #196adc;
$active_buttonhover: #4088eb;
$register: #5c25f5;
$registerhover:#6f2df5;
$hover_button: #1b1d28;
$background: #1b1d28;

$background_gradient: linear-gradient(rgb(19, 18, 23) 0%, rgb(35, 40, 60) 40%, rgb(19,18,23) 100%);